* {
  margin: 0;
  padding: 0;
}

html {
    scrollbar-gutter: stable;
}

body {
    display: flex;
    flex-direction: column;
    position: static;
    padding: 1rem 2rem;
}

main input{
    display: none; 
}

main input:checked ~ img {
    height: 20rem;
}

main input:checked +.icon{
    width: 30px;
    height: 30px;
}

main:hover .string .icon {
    display: block;
    transition: .5s;
}

main:hover .text {
    color: black;
    transition: .5s;
}

header {
    font-size: 2rem;
    font-weight: bolder;
}

main {
    font-size: 2rem;
}

.first, .second, .third, .fourth, .fifth {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

label {
    width: 100%;
    cursor: pointer;
}

/* label:hover +img {
    height: 20rem;
} */

.string {
    align-items: center;
    display: flex;
    justify-content: space-between;
    border: .1rem solid black;
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
    /* padding-bottom: .5rem; */
    background-color: antiquewhite;
    border-radius: 1rem;
    padding: .5rem;
}

.point:hover img{
    height: 20rem;
}

.point:hover .string .icon{
    transform: rotate(-180deg);
}

.text {
    display: flex;
    width: 40%;
    white-space: nowrap;
    align-items: center;
    color: blue;
}

.number {
    display: flex;
    justify-content: space-around;
    border-radius: 50%;
    border: 1px solid black;
    width: 7%;
    background-color: white;
    margin-right: 1rem;   
}

.icon {
    width: 2rem;
    height: 2rem;
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
    display: none;
    transition: rotate 0.3s;
}

.one, .two, .three, .four, .five {
    background-image: url(../cssBayan/assets/svg/arrow.png);
}


img {
    width: 20rem;
    height: 0;
    transition: height 0.3s;
}

.acor-container {
    margin: 20px 0;
}
.acor-container .acor-body {
    width: calc(100% - 40px);
    margin: 0 auto;
    height: 0;
    color: rgba(0, 0, 0, 0);
    background-color: #BFE2FF;
    line-height: 18px;
    padding: 0 30px;
    box-sizing: border-box;
    transition: color 0.5s, padding 0.5s;
    overflow: hidden;
    font-family: Verdana, sans-serif; 
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 10px 16px rgba(0,0,0,0.2);
}
.acor-container .acor-body p {
    margin: 0 0 10px;
}
.acor-container label {
    cursor: pointer;
    background-color: #337AB7;
    display: block;
    padding: 15px 20px;
    width: 100%;
    color: #BFE2FF;
    font-weight: 300;
    box-sizing: border-box;
    z-index: 100;
    font-family: Verdana, sans-serif;   
    font-size: 18px;
    margin: 0 0 5px;
    transition: color .35s;
}
.acor-container label:hover {
    color: #FFF;
}
.acor-container input{
    display: none;
}
.acor-container label:before {
    content: '\276F';
    float: right;
}
.acor-container input:checked + label {
    background-color: #285f8f;
    color: #FFF;
    box-shadow: 0 8px 26px rgba(0,0,0,0.4), 0 28px 30px rgba(0,0,0,0.3);
}
.acor-container input:checked + label:before {
    transition: transform .35s;
    transform: rotate(90deg);
}
.acor-container input:checked + label + .acor-body {
    height: auto;
    margin-top: -5px;
    color: #000;
    padding: 20px 30px 10px;
}
