* {
  margin: 0;
  padding: 0;
}
html {
    scrollbar-gutter: stable;
}
body {
    display: flex;
    flex-direction: column;
    position: static;
    padding: 3% 10%;
}
main input{
    width: 100%;
    height: 100%;
    display: none;
    box-sizing: border-box; 
}
main input:checked + label > img {
    height: 20rem;
}
main input:checked + label .icon{
    background-image: url(../cssBayan/assets/svg/arrdown.svg);
}
main input:checked + label>.string>.text>p{
    color: black;
}
header {
    font-size: 2rem;
    font-weight: bolder;
}
main {
    font-family: "Courier New", monospace;
    font-size: 1.5rem;
    font-weight: bold;
}
label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    cursor: pointer;
}
.string {
    align-items: center;
    display: flex;
    justify-content: space-between;
    border: .1rem solid black;
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
    background-color: antiquewhite;
    border-radius: 1rem;
    padding: .5rem 1rem;
    box-sizing:border-box;
    width: 100%;   
}
.text {
    display: flex;
    align-items: center;
    color: blue;
}
.number {
    display: flex;
    justify-content: space-around;
    border-radius: 50%;
    border: 1px solid black;
    width: 2rem;
    background-color: white;
    margin-right: 1rem;   
}
.one, .two, .three, .four, .five {
    background-image: url(../cssBayan/assets/svg/arr.svg);
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    display: none;
    transition: 0.3s;
    margin-left: 0.5rem;
}

img {
    width: 20rem;
    height: 0;
    transition: height 0.3s;
}

@media (hover:hover) {
    main:hover .string .icon {
        display: block;
        transition: .3s;
    }
    main:hover .text {
        color: black;
        transition: .3s;
    }
    .point:hover img{
        height: 20rem;
    }
    .point:hover .string .icon{
        background-image: url(../cssBayan/assets/svg/arrdown.svg);
    }
}
@media (max-width: 820px) {
    header {
        font-size: 1.8rem;
    }
    main {
        font-size: 1.3rem;
        letter-spacing: normal;
    }
    main input:checked + label > img {
        height: 15rem;
    }
    .number {
        display: none;
    }
    .icon {
        width: 1.1rem;
        height: 1.1rem;
        background-size: 1rem 1rem;
        display: block;
    }
    img {
        width: 15rem;
    }
}
@media (max-width: 320px) {
    header {
        font-size: 1.3rem;
    }
    main {
        font-size: 1.0rem;
        
    }
    img {
        width: 12rem;
    }
}